body
{
    background-color: grey;
}
h1, h2
{
    padding: 10px;
    text-transform: uppercase;
    color:white;
}
h1
{
    height:25px;
    width:100%;
    background-color: green;
    margin: 10px; 
}
h2
{
    height:25px;
    width: 100%;
    background-color: magenta;
    margin: 10px;   
}
p
{
    height:50px;
    width: 100%;
    background-color: white;
    margin: 10px; 
    padding: 10px;
}